{% extends "base2.html" %}

{% block content %}
<h1 class="user1 btn">- Поэтапно опишите рецепт -</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.recipe_text(class="form-control", style="height: 200px") }}<br>
        {% for error in form.recipe_text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
    </p>
    <p>
        {{ form.picture.label }}<br>
        {{ form.picture(class="form-control btn psh") }}<br>
        {% for error in form.picture.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn bt2") }}</p>
</form>
{% endblock %}